body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Didact Gothic', sans-serif;
}

.header {
    background: #20232a;
}

.header i {
    color: #61dafb;
}

.header h1 {
    color: white;
}

@media (min-width: 1200px) {
    .header {
        height: 100vh;
    }
}

@media (min-width: 760px) {
    .add {
        height: 100vh;
        overflow-y: scroll;
    }
}

.add {
    height: 100vh;
    overflow-y: scroll;
}

.form-wrap,
.list-wrap {
    background: white;
}

.badge.badge-primary.badge-pill.In.Progress {
    background: #ffc107;
}

.badge.badge-primary.badge-pill.Completed {
    background: #28a745;
}